body{
  background-image: url(../img/pexels-photo-1352751.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
#messageContainer {
  margin-top: 2em;
  width: 100%;
}

#titleWall {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}
#contenedor{
  width: 100%;
}
#messageArea {
  height: 3em;
  border: gray 1px solid;
  border-radius: 5px;
  width: 100%;
}

#sendButton {
  color: white;
  background-color: darkcyan;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 0.5em;
  cursor: pointer;
  float: right;
}

.containerWall {
  border: 1px solid #99CE81;
  margin-top: 1em;
  width: 100%;
}

#post {
  margin-top: 1em;
  border-radius: 4px;
}

#buttonPost {
  color: white;
  background-color: #9B369D;
  border-radius: 4px;
  border: #9B369D;
  cursor: pointer;
}

.textPostStyle {
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 1em;
}


.iconTrash {
  color: grey;
  cursor: pointer;
  margin-right: 1em;
  float: right;
}